# Data Analysis and Manipulation on a **DATASET** using Pandas
---

Now that we have looked into some of the key functionalities of pandas, let's dive deeper and explore how to work on a Real Dataset with pandas.

##Importing dependencies

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

# **Reading the File**
---

Datasets come in variety of formats: TXT, CSV, EXCEL, JSON, etc.

pandas has various different functions for each file format.

Let's just discuss the CSV format today since it is one of the most commonly used format for standard datasets.

In [ ]:
path = "/content/Titanic.csv"
df = pd.read_csv(path)
df

### EXERCISE: Use `df` and print only the last 5 samples from the dataset

In [ ]:
# write code in the line below

# **Data Analysis**
---

Here, we'll try to extract some important insights on the data like distributions of specific features or relationship between two or more features. This portion will be covered extensively during the Upcoming ML Talks Sessions.

### A brief overview of the data type and the null count of the dataset

df.info() provides a detailed log of the Number of non-null values present along with the Data Types of each Column.

In [ ]:
df.info()

Let's start analysing our data and try to gain some insights.

### Passenger Survival count

In [ ]:
df.value_counts('Survived')

So, `549` passengers in total have died while `342` has survived.

### Distribution of passengers w.r.t various columns
---

We used `groupby()` and `pivot_table()` functions for this. These functions help a lot in exploring the underlying relationships between the features and the target column.

* `groupby()`: As the name suggests, it groups the input data by Series or columns as per our requirement.
* `pivot_table()`: It creates a spreadsheet-style pivot table just like a DataFrame. It can be used for the same purpose as `groupby()`.

In [ ]:
df.groupby(['Sex', 'Embarked'])['Name'].count()

This tells us about the people and their genders from respective Ports of Embarkation.

In [ ]:
df.pivot_table('Survived', index='Sex', columns='Pclass') #single level pivot table

This tells us about the people and their genders from respective passenger class that were able to survive.

In [ ]:
age = pd.cut(df['Age'], [0, 18, 80])
df.pivot_table('Survived', ['Sex', age], 'Pclass') #multi level pivot table

This tells us about the people, their gender and Age group(0-18 and 18-80) from respective passenger class that were able to survive.

# **Data Preprocessing**
---

Here, we'll manipulate / modify the data in order to make it suitable for feeding into the Machine Learning model. This portion covers the processes by pandas and further preprocessing techniques will be discussed during the Upcoming sessions.

## Resolving missing values

In [ ]:
# To view the actual amount of missing values in each column
df.isnull().sum()

It can be clearly seen that `Cabin`, `Age` and `Embarked` has missing values in them. 
* Since `Cabin` doesn't seem to be too important and has too many missing values, we'll drop the column.
* `Age` and `Embarked` seems to be important and doesn't have much missing values in comparison, so we'll drop the rows with null values.

In [ ]:
df.drop('Cabin', axis=1, inplace=True) #dropping the Cabin column
df.dropna(inplace=True)
df

### EXERCISE: Instead of dropping the rows with missing values for `Age`, try filling them up using its `median`.

In [ ]:
# write code in the line below

## Extracting Required `features`

### Features

In [ ]:
features = df[['Age', 'Embarked', 'Fare', 'Parch', 'Pclass', 'Sex', 'SibSp']]
features

### Target Column: Survived

In [ ]:
#@title EXERCISE: Extract and print the Target column from `df` (mention in the chat box) 
target = df['Survived']
target

## Converting Categorical features to numerical

Machine Learning algorithms/models can't interpret an object/string data. So, we need to convert them into numerical ones.

In [ ]:
convert_dict = {
    'Embarked' : {'S' : 0,
                  'C' : 1,
                  'Q' : 2},
    'Sex' : {'female' : 0,
             'male' : 1}               
}

In [ ]:
features.replace(convert_dict, inplace=True) # replacing the categorical data with numerical data defined in the dict
features

Now, both the features and target column contain numerical data and this ends a basic example of Data analysis and manipulation using pandas. We can further save our final DataFrames into CSV files for future use.

In [ ]:
features.to_csv('Features.csv', index=False)
target.to_csv('Target.csv', index=False)