# **Pandas**

Let's get started with pandas

### Installing pandas

In [ ]:
!pip install pandas

##Importing dependencies

In [ ]:
#@title EXERCISE: Importing pandas
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

# **Pandas Series**


---
Pandas series works like a one-dimensional array and it can hold any type of data such as int, float, string,etc. You can create a series using an array, list or even dictionary.
* Command - pd.Series()

In [ ]:
labels = ['a','b','c']
my_data = [10,20,30] 
arr = np.array(my_data) #our array
dic = {'a':10 , 'b':20, 'c':30} #our dictionary

In [ ]:
pd.Series(arr,labels) #by using our array

In [ ]:
ser = pd.Series(dic) #by using our dictionary
print(ser)

To retrieve any value from a Pandas Series we just need to pass the index of the value that we wish to fetch

In [ ]:
print(ser['a']) #we used the index a which has the value of 10

### EXERCISE: Generate the same `Series` using only the initial `lists` and extract the data at label `c`.

In [ ]:
# write code in the line below

We can also add two Pandas series in the following way

In [ ]:
ser1 = pd.Series([1,2,3,4],['a','b','c','d'])
ser2 = pd.Series([1,2,5,4],['a','b','e','d'])
ser3 = ser1 + ser2
print(ser3)

We never gave any NaN values in the series but in the resultant series we have  NaN values. We can see we have Nan values for index 'c' and 'e' and that is because in the first series the values of 'c' is 3 and value of 'e' is 5, now as these two index dont match with any other index in the series hence by default their values are given as NaN.

# **Data Frames**

---
It's a two dimensional structure that stores the data in tabular format which can be changed and edited as per user's requirements. Just like Series we can make a Data frame as well using array, lists and dictionaries.
* Command - pd.DataFrame(dimesnion,rows,columns)

In [ ]:
from numpy.random import randn
df = pd.DataFrame(randn(4,4),['A','B','C','D'],['W','X','Y','Z'])
df

As we can see we have our very own Dataframe. We used A,B,C,D as the rows and W,X,Y,Z as our columns. The random method just generates random number to fill up our DataFrame. We also mentioned dimensions for our DataFrame i.e. 4x4 as we mentioned 4 rows and 4 columns. We can also grab rows and columns and the information in these rows and column if we need to analyse them individually. The columns that we will grab will work as Series

In [ ]:
print(df['W']) #grabbing a single column W

In [ ]:
print(df[['W','X']]) #grabbing more than one list by passing in list of columns

### EXERCISE: Create a DataFrame with random integers and extract the First and Last column from it.

In [ ]:
# write code in the line below

We can make changes to already existing Data Frames by adding or dropping columns. Many times the data that you have might have some columns that are not at all useful for your model so you might have to drop them from the Data Frame in order to make your model more accurate. Lets go ahead and take a look at how we can add and delete columns in our DataFrame.

Command - 
* df['column_name'] - To add a new column we can use this command.
* df.drop('column_name',axis = 1,inplace = True) - To drop a column from a Data Frame we can use this method. We also define the axis from which we wish to drop, so axis = 1 when we wish to drop a column and axis = 0 when we wish to drop a row. If we dont define the inplace = True, the column wont be dropped permanently from the DataFrame.

In [ ]:
df['new'] = df['X'] + df['Y']
df.head()

In [ ]:
df.drop('new',axis = 1,inplace = True)

In [ ]:
df.head()

As you can see, we added a new column to our data frame called 'new'. Then we dropped it using the .drop() method and when we call the head on our Data Frame, we can see that the column does not exist any more in the Data Frame.

### EXERCISE: Remove the third row and show  the DataFrame created in the previous exercise.

In [ ]:
# write code in the line below

# **Selecting Rows and Columns**

---
In some cases you will need to select some specific rows and columns in order to analyse your data, in such cases method like '.loc' and '.iloc' come into picture. These will help you grab a row by either using the name of the row or by using the index. To grab a column just pass the column name in your DataFrame Object.

Command -
* df.loc['row_name'] - Helps in fetching the row by using the row name.
* df.iloc[x] - Helps in fetching the row using the Index number(x).
* df[[column_name]] - Helps in fetching the column using the Column name. Be careful with the two Square Brackets.

In [ ]:
df.loc['C'] #using .loc()

In [ ]:
df.iloc[2] #using .iloc()

In [ ]:
df[['X']] #fetching the column

In [ ]:
df.loc['B','Y'] #we can pass the row name and column name in .loc to get a specific value

In [ ]:
df.loc[['A','B'],['W','Y']] #we passed the columns that we need and the rows that we need and we got the info that we needed

### EXERCISE: Use the DataFrame created and formatted in the previous Exercises and extract the 2nd and 3rd rows from its 1st three columns.

In [ ]:
# write code in the line below

# **Working with Missing data**

---

Any data that you get will always have some sort of missing values, its very rare that you get a data without any missing values.In this section we will learn how to deal with the missing values.

In [ ]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]} 
df1 = pd.DataFrame(d)
print(df1)


As we can see we have a new data set with NaN values in it and we will be performing all our operations on it. Many a times these NaN values are very less in number and can be discarded. For this purpose we use the '.dropna() method. This will drop all the NaN values in our data.

In [ ]:
df1.dropna() #dropped all the rows with NaN values

Sometimes the amount of NaN values might be huge so in that case we cant just discard them. We will have to fill them up. We use the .fillna() method to do so.

In [ ]:
print(df1.fillna(value = 0)) #filling up all the NaN values with 0

### EXERCISE: Create a DataFrame with NaN values in it and fill them up using the mean of the 2nd Column.

In [ ]:
# write code in the line below